extends layout
 
block content
	div.row
		div.span3
			h1 Sidebar
			p: strong Test Strong
			p: small Test small
			p: em Test Italics
		div.span9
			h1 Main
			p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean ac imperdiet lacus, in tempus sem. In ultrices nunc at aliquet auctor. Pellentesque elementum ligula quis nisl ullamcorper, a malesuada sem vulputate. Etiam vulputate condimentum ligula vel fermentum. Mauris at ante mauris. Vivamus lacinia leo nisi, non consectetur lorem bibendum fringilla. Praesent nec magna in purus ultrices pharetra. Ut sit amet arcu a nisl rhoncus cursus volutpat in eros. Nullam fermentum condimentum ipsum quis vulputate. Vestibulum urna lorem, faucibus sed augue in, feugiat fringilla felis. Proin lobortis bibendum erat a gravida. Nam lobortis velit sed fermentum dignissim. Phasellus sit amet nunc sapien. Mauris tempor accumsan nisl, et porta sapien ornare sed. Proin congue dolor non orci tempor, id interdum tellus pharetra. Integer lectus tortor, fermentum id dui nec, imperdiet commodo magna.
			p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean ac imperdiet lacus, in tempus sem. In ultrices nunc at aliquet auctor. Pellentesque elementum ligula quis nisl ullamcorper, a malesuada sem vulputate. Etiam vulputate condimentum ligula vel fermentum. Mauris at ante mauris. Vivamus lacinia leo nisi, non consectetur lorem bibendum fringilla. Praesent nec magna in purus ultrices pharetra. Ut sit amet arcu a nisl rhoncus cursus volutpat in eros. Nullam fermentum condimentum ipsum quis vulputate. Vestibulum urna lorem, faucibus sed augue in, feugiat fringilla felis. Proin lobortis bibendum erat a gravida. Nam lobortis velit sed fermentum dignissim. Phasellus sit amet nunc sapien. Mauris tempor accumsan nisl, et porta sapien ornare sed. Proin congue dolor non orci tempor, id interdum tellus pharetra. Integer lectus tortor, fermentum id dui nec, imperdiet commodo magna.
